:root{
	--theme-primary-color:#00082e;
	--theme-link-clr: #00082e;
}
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.primary-color{
	color:var(--theme-primary-color);
}

section.form__section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
section.form__section .col-form {
    height: 100vh;
    background: #000428; 
    background: -webkit-linear-gradient(to right, #004e92, #000428);  
    background: linear-gradient(to right, #004e92, #000428);
	padding:80px;
}
section.form__section.base__bg::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(173deg, #70E093 18.11%, #46A79C 78.45%);
}

section.form__section .col-bg{
	  background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
}

.base__logo__big_img {
    margin-left: 85px;
	margin-bottom: 20px;
}
.base__logo__big_img img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.base__heading h3 {
    color: #00082e;
}
.base__logo__img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background: #fff;
    border-radius: 60%;
}

.base__form {
    padding: 30px;
    background: #212529;
    border-radius: 5px;
}
.base__form form input {
    height: 45px;
    border-color: #00082e;
    /* border-top-right-radius: 0.25rem !important; */
    /* border-bottom-right-radius: 0.25rem !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    border-radius: 0;
    padding-left: 0px;
}
.base__form form input::placeholder {
    color: #fff;
}
.check__box input {
    display: none;
}
.base__form form label{
    position: relative;
    padding-left: 25px;
    line-height: 20px;
}
.base__form form label:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: transparent;
    top: 0;
    left: 0;
    border: 1px solid #fff;
}
.base__form form input:checked+label:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 6px;
    height: 10px;
    border: 2px solid #fff;
    border-left: none;
    border-top: none;
    transform: translate(7.75px,4.5px) rotate(45deg);
    -ms-transform: translate(7.75px,4.5px) rotate(45deg);   
}
.base__form form input:checked+label::before {
    background-color: #00082e;
    border-color: #00082e;
}
.check__box label {
    font-weight: normal;
    margin-bottom: 0px;
    color: #fff;
}
.form-control:focus {
    box-shadow: none;
    border-color: #00082e;
    background-color: transparent;	
}
.base__form form button.btn.btn-primary {
    border: none;
    background: linear-gradient(173deg, #70E093 18.11%, #46A79C 78.45%);
    width: 50%;
    margin: 0px auto;
}
.input-group-append {
    display: none;
}
.base__clr {
	color: var(--theme-link-clr);
}

a.link__clr__black:hover {
    text-decoration: underline;
    color: var(--theme-primary-color);
}
a.link__clr.link__forgot {
    color: #fff;
}
a.link__clr:hover {
    text-decoration: underline;
    color: var(--theme-primary-color);
}
a.link__clr__black {
	color: #000;
}
.app__links__wrapper ul li {
    list-style: none;
    width: 35%;
	border: 1px solid #000;
    border-radius: 8px;
    background: #000;
}
.app__links__wrapper ul li:first-child {
	margin-right: 20px;
}
.app__links__wrapper ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
	padding: 10px;
	text-decoration: none;
}
.app__links__wrapper ul li a img {
    width: 55px;
    height: 55px;
    object-fit: contain;
	margin-right: 10px;
}
.alert-error {
    color: #ff4b5c;
    background-color: transparent;
    margin-bottom: 0px;
    margin-top: -20px;
    padding-left: 0px;
}

/*-------------------22/02/2023----------------*/

.navbar-dark {
    background: linear-gradient(168.08deg, #E88F42 -0.98%, #D74242 100%) !important;
}
aside.main-sidebar.sidebar-dark-primary.elevation-4 {
    background: linear-gradient(168.08deg, #E88F42 -0.98%, #D74242 100%) !important;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: #222B45 !important;
}
span.brand-text.font-weight-light {
    color: #159676;
    font-weight: 800 !important;
    font-size: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #1e2c43;
}
[class*=sidebar-dark-] .sidebar a {
    color: #1e2c43;
    font-size: 18px;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #ffffff;
}
.btn-success {
    color: #fff;
    box-shadow: none;
    background: linear-gradient(173deg, #70E093 18.11%, #46A79C 78.45%);
    border: none;
}
.btn-danger {
    color: #fff;
    box-shadow: none;
    background-color: #212529;
    border: none;
}
.btn-outline-success {
    color: #159676;
    border-color: #159676;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #159676;
    border-color: #159676;
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #159676;
    border-color: #159676;
}
.card-primary.card-outline {
    border-top: 0;
    margin-top: 20px;
}
button.btn.btn-primary.update-data {
    background: #1e2c43;
    border: none;
}
button.btn.btn-primary.change-password {
    color: #fff;
    box-shadow: none;
    background: linear-gradient(173deg, #70E093 18.11%, #46A79C 78.45%);
    border: none;
}
.float-right {
    float: right!important;
    color: #159676;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1f2d3d;
    border-color: #1f2d3d;
}
footer.main-footer {
    text-align: center;
}

footer.main-footer a {
    color: #159676;
}
.content-wrapper>.content {
    padding: 20px;
}
.bg-info {
    background-color: #1f2d3d!important;
}
.info-box-content {
    color: #159676;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;

    box-shadow: none;
}
a.float-right:hover {
    color: #192d42;
    text-decoration: none;
}
td.bk-ad p {
    background: #159676;
    text-align: center;
    border-radius: 80px;
    width: 50%;
}
td.bk-ad-assign-role p {
background: #159676;
text-align: center;
border-radius: 80px;
width: fit-content;
padding-right: 7px;
padding-left: 7px;
display: inline;
}

body .navbar-dark {
    background: linear-gradient(173deg, #70E093 18.11%, #46A79C 78.45%) !important;
}
body aside.main-sidebar.sidebar-dark-primary.elevation-4 {
    background: linear-gradient(173deg, #70E093 18.11%, #46A79C 78.45%) !important;
}